<div class="row">
  <div class="col-md-4">
    <img src="<%= item.image %>" />
  </div>
  <div class="col-md-8">
    <ul>
      <li>Name: <%= item.title %></li>
      <li>Description: <%= item.description %></li>
      <li>Price: <%= number_to_currency item.price %></li>
    </ul>
  </div>
</div>
