<table>
  <tr>
    <th>Item</th><th>Quantity</th><th>Price</th><th>Subtotal</th>
  </tr>
  <% order.order_items.each do |order_item| %>
    <tr>
      <td><%= link_to order_item.item.title, item_path(order_item.item) %></td>
      <td> <%= order_item.quantity %> </td>
      <td> <%= order_item.price %> </td>
      <td> <%= number_to_currency order_item.subtotal %></td>
    </tr>
  <% end %>
</table>
