<h1>My Orders</h1>
<table>
  <thead><th>Order ID</th></thead>
  <% @orders.each do |order|%>
    <tr>
      <td>Order number <%= link_to order.id, order_path(order) %></td>
    </tr>
  <% end %>
  <tfoot><td>Total: <%= @orders.count %></td></tfoot>
</table>
