<h1> <%= @category.name %> </h1>

<div>
  <% @category.items.each do |item| %>
  <div>
    <ul>
      <li>Name: <%= item.title %></li>
      <li>Description: <%= item.description %></li>
      <li>Price: $<%= item.price %></li>
    </ul>
  </div>
  <% end %>
</div>
